<h1>All Registered Users</h1>
<table>
  <thead>
    <th>
      Email
    </th>
    <th>
      Admin?
    </th>
    <th>
      Toggle Admin
    </th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.admin %>
        </td>
        <td>
          <% if user.admin? %>
            <%= form_for user do |f| %>
              <%= f.hidden_field :admin, value: false %>
              <%= f.submit 'Demote Admin' %>
            <% end %>
          <% else %>
            <%= form_for user do |f| %>
              <%= f.hidden_field :admin, value: true %>
              <%= f.submit 'Promote Admin' %>
            <% end %>
          <% end %>
        </td>
        <% end %>
      </tr>

  </tbody>
</table>
